* {
    margin: 0;
}
body {
    background-color: khaki;
}
hr {
    height: 4px;
    background-color: darkkhaki;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* !header */
header {
    background-color: khaki;
    height: 138px;
}


.logo {
    text-align: center;
}
.logo img {
    width: 128px;
    height: 128px;
    float: left;
    padding: 5px 0 0 5px;
}
/* ! Пасхалка */
 .pashal {
    padding-left: 35%;
    padding-bottom: 8px;
}
.pashalka {
    width: 400px;
    height: 320px;
    display: block;
    background: url(assets/img/book.gif);
    background-repeat: repeat;
}
.pashalka:hover {
   background: url(assets/img/смайлик.png);
   width: 480px;
   height: 480px;
}
/* ! */
.logo_text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo_text h1 a, .logo_text h2 a {
    color: #000;
    text-decoration: none;
}
.logo_text h1 a:hover, .logo_text h2 a:hover {
    color: darkred;
}

nav {
    padding-top: 30px;
}
nav a {
    padding-right: 4px;
    padding-left: 4px;
    text-decoration: none;
    color: #000;
}
nav a:hover {
    text-decoration: underline;
    color: darkred;
}
/* !main */

/* *left */
.site_left {
    float: left;
    width: 16%;
    border-bottom: solid 3px darkkhaki;
    border-right: solid 3px darkkhaki;
}
.left_menubar {
    background-color: khaki;
    line-height: 30px;
}
.left_menubar h2, .left_menubar h3 {
    letter-spacing: 5px;
    background-color: darkred;
    color: khaki;
}
.left_menubar a, p {
    padding-left: 4px;
    text-decoration: none;
    color: #000;
}
.left_menubar a:hover {
    text-decoration: underline;
    color: darkred;
}
/* *content */
.site_content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.site_content h1, .site_content h2, .site_content h3 {
    text-align: center;
    padding-bottom: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.site_content p {
    font-size: 130%;
    text-decoration: none;
    padding: 0 8px 8px 8px;

}
.site_content p a {
    text-decoration: none;
    color: darkred;
}
.site_content img {
    width: 40%;
    height: 40%;
    float: left;
    padding-right: 8px;
}
.books img {
    width: 160px;
    height: 220px;
    padding: 4px;
}
.first_book {
    padding-left: 8px;
}


footer {
    text-align: center;
    width: 100%;
    height: 70px;
    margin-top: 300px;
    padding-top: 8px;
    float: left;
    border-top: solid 4px darkkhaki;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer h4:hover, footer p:hover {
    color: darkred;
}




