* {
    margin: 0;
    padding: 0;


}
header {
    background-color: #f29f33;
    height: 140px;
    font-size: 0.8em;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
    border-bottom: solid 5px #000;
    
}
.logo img {
    width: 160px;
    height: 128px;
    float: left;
    margin: 0;
    padding: 0;
}
.logo {
    text-align: center;
    
}
.logo_text h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    margin-bottom: 6px;
    
}
.logo_text h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
}
nav ul {
    padding-left: 43%;
    padding-top: 13px;
}
nav ul li {
    float: left;
	padding: 0 9px 0 0;
	list-style: none;
	margin: 1px 2px 0 0;
}

nav ul li a {
	font: normal 100% 'trebuchet ms', sans-serif;
	display: block;
	height: 20px;
	padding: 6px 35px 5px 28px;
	color: rgba(0, 0, 0, 0.521);
	text-decoration: none;
}
nav ul li a:hover {
    color: #fffb00;
   
	text-decoration: none;
}
main {
    

}
.left_side_container {
    float: left;
    width: 25%;
    height: 900px;
    background-color: #f29f33;
  

}
.left_logo h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    background-color: #8a2a24;
    padding-left: 5px;
    color: #f29f33;
    letter-spacing: 5px;
    padding-bottom: 2px;
  
}
.left_rubrics {
    background-color: #f29f33;
}
.rubrics {
    list-style-type: none;
  
}
.rubrics li {
  line-height: 30px;
}
.rubrics li a {
    padding-left: 5px;
    text-decoration: none;
    color: black;
}
.rubrics li a:hover {
    color:  #fffb00;
}
.about_site_news_logo h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    background-color: #8a2a24;
    padding-left: 5px;
    color: #f29f33;
    letter-spacing: 5px;
    padding-bottom: 2px;
}
.about_site_news {
    background-color: #f29f33;
    padding-left: 5px;
    text-decoration: none;
    color: black;
    padding-bottom: 6px;
    padding-top: 6px;
}
.content {
    float: right;
    width: 75%;
    height: 900px;
    background-color: #dbbe92;
   
    
}
.content_audio {
    height: 900px;
    background-color: #dbbe92;
}
.audio_book {
    padding-left: 30%;
}
.sovet_blocks img {
    width: 128px;
    height: 160px;
    padding-right: 0px;
    padding-left: 7px;
}
.sovet_logo h2, h3 {
    background-color: #8a2a24;
    color: #f29f33;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 7px;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 2px;
}
.sovet_logo h3 {
    margin-top: -7px;
}